body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1178px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1149px;
  height:30px;
  background:inherit;
  background-color:rgba(85, 153, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u960 {
  position:absolute;
  left:15px;
  top:92px;
  width:1149px;
  height:30px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u961 {
  position:absolute;
  left:2px;
  top:6px;
  width:1145px;
  word-wrap:break-word;
}
#u962 {
  position:absolute;
  left:15px;
  top:187px;
  width:1076px;
  height:249px;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:50px;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:50px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u964 {
  position:absolute;
  left:2px;
  top:18px;
  width:31px;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u965 {
  position:absolute;
  left:35px;
  top:0px;
  width:100px;
  height:50px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
}
#u966 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u967 {
  position:absolute;
  left:135px;
  top:0px;
  width:200px;
  height:50px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u968 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u969 {
  position:absolute;
  left:335px;
  top:0px;
  width:300px;
  height:50px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
}
#u970 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u971 {
  position:absolute;
  left:635px;
  top:0px;
  width:48px;
  height:50px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u972 {
  position:absolute;
  left:2px;
  top:18px;
  width:44px;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:50px;
}
#u973 {
  position:absolute;
  left:683px;
  top:0px;
  width:75px;
  height:50px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u974 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:50px;
}
#u975 {
  position:absolute;
  left:758px;
  top:0px;
  width:75px;
  height:50px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
}
#u976 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:50px;
}
#u977 {
  position:absolute;
  left:833px;
  top:0px;
  width:75px;
  height:50px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u978 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:50px;
}
#u979 {
  position:absolute;
  left:908px;
  top:0px;
  width:75px;
  height:50px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u980 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u981 {
  position:absolute;
  left:983px;
  top:0px;
  width:88px;
  height:50px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u982 {
  position:absolute;
  left:2px;
  top:18px;
  width:84px;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u983 {
  position:absolute;
  left:0px;
  top:50px;
  width:35px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u984 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u985 {
  position:absolute;
  left:35px;
  top:50px;
  width:100px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u986 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u987 {
  position:absolute;
  left:135px;
  top:50px;
  width:200px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u988 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u989 {
  position:absolute;
  left:335px;
  top:50px;
  width:300px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u990 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u991 {
  position:absolute;
  left:635px;
  top:50px;
  width:48px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u992 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u993 {
  position:absolute;
  left:683px;
  top:50px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u994 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u995 {
  position:absolute;
  left:758px;
  top:50px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u996 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u997 {
  position:absolute;
  left:833px;
  top:50px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u998 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u999 {
  position:absolute;
  left:908px;
  top:50px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1000 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1001 {
  position:absolute;
  left:983px;
  top:50px;
  width:88px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1002 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u1003 {
  position:absolute;
  left:0px;
  top:80px;
  width:35px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1004 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1005 {
  position:absolute;
  left:35px;
  top:80px;
  width:100px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1006 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1007 {
  position:absolute;
  left:135px;
  top:80px;
  width:200px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1008 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u1009 {
  position:absolute;
  left:335px;
  top:80px;
  width:300px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1010 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u1011 {
  position:absolute;
  left:635px;
  top:80px;
  width:48px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1012 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u1013 {
  position:absolute;
  left:683px;
  top:80px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1014 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u1015 {
  position:absolute;
  left:758px;
  top:80px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1016 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u1017 {
  position:absolute;
  left:833px;
  top:80px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1018 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u1019 {
  position:absolute;
  left:908px;
  top:80px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1020 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1021 {
  position:absolute;
  left:983px;
  top:80px;
  width:88px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1022 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1023 {
  position:absolute;
  left:0px;
  top:110px;
  width:35px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1024 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u1025 {
  position:absolute;
  left:35px;
  top:110px;
  width:100px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1026 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u1027 {
  position:absolute;
  left:135px;
  top:110px;
  width:200px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1028 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
}
#u1029 {
  position:absolute;
  left:335px;
  top:110px;
  width:300px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1030 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:35px;
}
#u1031 {
  position:absolute;
  left:635px;
  top:110px;
  width:48px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1032 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
}
#u1033 {
  position:absolute;
  left:683px;
  top:110px;
  width:75px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1034 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
}
#u1035 {
  position:absolute;
  left:758px;
  top:110px;
  width:75px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1036 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
}
#u1037 {
  position:absolute;
  left:833px;
  top:110px;
  width:75px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1038 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
}
#u1039 {
  position:absolute;
  left:908px;
  top:110px;
  width:75px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1040 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u1041 {
  position:absolute;
  left:983px;
  top:110px;
  width:88px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1042 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1043 {
  position:absolute;
  left:0px;
  top:145px;
  width:35px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1044 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u1045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u1045 {
  position:absolute;
  left:35px;
  top:145px;
  width:100px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1046 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u1047 {
  position:absolute;
  left:135px;
  top:145px;
  width:200px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1048 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u1049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
}
#u1049 {
  position:absolute;
  left:335px;
  top:145px;
  width:300px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1050 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u1051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:35px;
}
#u1051 {
  position:absolute;
  left:635px;
  top:145px;
  width:48px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1052 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  word-wrap:break-word;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
}
#u1053 {
  position:absolute;
  left:683px;
  top:145px;
  width:75px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1054 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
}
#u1055 {
  position:absolute;
  left:758px;
  top:145px;
  width:75px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1056 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
}
#u1057 {
  position:absolute;
  left:833px;
  top:145px;
  width:75px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1058 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
}
#u1059 {
  position:absolute;
  left:908px;
  top:145px;
  width:75px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1060 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u1061 {
  position:absolute;
  left:983px;
  top:145px;
  width:88px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1062 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
}
#u1063 {
  position:absolute;
  left:0px;
  top:180px;
  width:35px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1064 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u1065 {
  position:absolute;
  left:35px;
  top:180px;
  width:100px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1066 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
}
#u1067 {
  position:absolute;
  left:135px;
  top:180px;
  width:200px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1068 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
}
#u1069 {
  position:absolute;
  left:335px;
  top:180px;
  width:300px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1070 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:34px;
}
#u1071 {
  position:absolute;
  left:635px;
  top:180px;
  width:48px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1072 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  word-wrap:break-word;
}
#u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u1073 {
  position:absolute;
  left:683px;
  top:180px;
  width:75px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1074 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u1075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u1075 {
  position:absolute;
  left:758px;
  top:180px;
  width:75px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1076 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u1077 {
  position:absolute;
  left:833px;
  top:180px;
  width:75px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1078 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u1079 {
  position:absolute;
  left:908px;
  top:180px;
  width:75px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1080 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u1081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u1081 {
  position:absolute;
  left:983px;
  top:180px;
  width:88px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1082 {
  position:absolute;
  left:2px;
  top:9px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u1083 {
  position:absolute;
  left:0px;
  top:214px;
  width:35px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1084 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1085 {
  position:absolute;
  left:35px;
  top:214px;
  width:100px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1086 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1087 {
  position:absolute;
  left:135px;
  top:214px;
  width:200px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1088 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u1089 {
  position:absolute;
  left:335px;
  top:214px;
  width:300px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1090 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u1091 {
  position:absolute;
  left:635px;
  top:214px;
  width:48px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1092 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u1093 {
  position:absolute;
  left:683px;
  top:214px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1094 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u1095 {
  position:absolute;
  left:758px;
  top:214px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1096 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u1097 {
  position:absolute;
  left:833px;
  top:214px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1098 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u1099 {
  position:absolute;
  left:908px;
  top:214px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u1100 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1101 {
  position:absolute;
  left:983px;
  top:214px;
  width:88px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1102 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u1103 {
  position:absolute;
  left:1097px;
  top:239px;
  width:25px;
  height:21px;
}
#u1104 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u1105 {
  position:absolute;
  left:1097px;
  top:270px;
  width:25px;
  height:21px;
}
#u1106 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u1107 {
  position:absolute;
  left:1096px;
  top:300px;
  width:25px;
  height:21px;
}
#u1108 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u1109 {
  position:absolute;
  left:1096px;
  top:331px;
  width:25px;
  height:21px;
}
#u1110 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u1111 {
  position:absolute;
  left:1096px;
  top:359px;
  width:25px;
  height:21px;
}
#u1112 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1113 {
  position:absolute;
  left:466px;
  top:461px;
  width:140px;
  height:30px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1114 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u1115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1115 {
  position:absolute;
  left:466px;
  top:132px;
  width:140px;
  height:30px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1116 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u1117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1117 {
  position:absolute;
  left:616px;
  top:461px;
  width:140px;
  height:30px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1118 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u1119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1119 {
  position:absolute;
  left:616px;
  top:132px;
  width:140px;
  height:30px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1120 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u1121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:35px;
}
#u1121 {
  position:absolute;
  left:10px;
  top:404px;
  width:1168px;
  height:35px;
}
#u1122 {
  position:absolute;
  left:2px;
  top:10px;
  width:1164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1123 {
  position:absolute;
  left:23px;
  top:162px;
  width:368px;
  height:24px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1124 {
  position:absolute;
  left:0px;
  top:4px;
  width:368px;
  word-wrap:break-word;
}
#u1125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000066;
}
#u1125 {
  position:absolute;
  left:10px;
  top:11px;
  width:730px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000066;
}
#u1126 {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  white-space:nowrap;
}
#u1127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Italic', 'Times New Roman Regular', 'Times New Roman';
  font-weight:400;
  font-style:italic;
  font-size:18px;
  color:#0099FF;
  text-align:left;
}
#u1127 {
  position:absolute;
  left:750px;
  top:0px;
  width:317px;
  height:41px;
  font-family:'Times New Roman Italic', 'Times New Roman Regular', 'Times New Roman';
  font-weight:400;
  font-style:italic;
  font-size:18px;
  color:#0099FF;
  text-align:left;
}
#u1128 {
  position:absolute;
  left:2px;
  top:10px;
  width:313px;
  word-wrap:break-word;
}
#u1129 {
  position:absolute;
  left:17px;
  top:41px;
  width:675px;
  height:34px;
}
#u1129_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:681px;
  height:40px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1130 {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:39px;
}
#u1131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u1131 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
  color:#FFFFFF;
}
#u1132 {
  position:absolute;
  left:2px;
  top:9px;
  width:131px;
  word-wrap:break-word;
}
#u1133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u1133 {
  position:absolute;
  left:135px;
  top:0px;
  width:135px;
  height:34px;
  color:#FFFFFF;
}
#u1134 {
  position:absolute;
  left:2px;
  top:9px;
  width:131px;
  word-wrap:break-word;
}
#u1135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u1135 {
  position:absolute;
  left:270px;
  top:0px;
  width:135px;
  height:34px;
  color:#FFFFFF;
}
#u1136 {
  position:absolute;
  left:2px;
  top:9px;
  width:131px;
  word-wrap:break-word;
}
#u1137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u1137 {
  position:absolute;
  left:405px;
  top:0px;
  width:135px;
  height:34px;
  color:#FFFFFF;
}
#u1138 {
  position:absolute;
  left:2px;
  top:9px;
  width:131px;
  word-wrap:break-word;
}
#u1139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u1139 {
  position:absolute;
  left:540px;
  top:0px;
  width:135px;
  height:34px;
  color:#FFFFFF;
}
#u1140 {
  position:absolute;
  left:2px;
  top:9px;
  width:131px;
  word-wrap:break-word;
}
#u1141 {
  position:absolute;
  left:135px;
  top:34px;
  width:135px;
  height:180px;
  visibility:hidden;
}
#u1141_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:141px;
  height:186px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1142 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:185px;
}
#u1143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1143 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u1144 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1145 {
  position:absolute;
  left:0px;
  top:36px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u1146 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1147 {
  position:absolute;
  left:0px;
  top:72px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u1148 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1149 {
  position:absolute;
  left:0px;
  top:108px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u1150 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1151 {
  position:absolute;
  left:0px;
  top:144px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u1152 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1153 {
  position:absolute;
  left:540px;
  top:34px;
  width:135px;
  height:180px;
  visibility:hidden;
}
#u1153_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:141px;
  height:186px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1154 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:185px;
}
#u1155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1155 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u1156 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1157 {
  position:absolute;
  left:0px;
  top:36px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u1158 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1159 {
  position:absolute;
  left:0px;
  top:72px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u1160 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1161 {
  position:absolute;
  left:0px;
  top:108px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u1162 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1163 {
  position:absolute;
  left:0px;
  top:144px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u1164 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1165 {
  position:absolute;
  left:405px;
  top:34px;
  width:135px;
  height:108px;
  visibility:hidden;
}
#u1165_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:141px;
  height:114px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1166 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:113px;
}
#u1167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1167 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u1168 {
  position:absolute;
  left:2px;
  top:2px;
  width:131px;
  word-wrap:break-word;
}
#u1169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1169 {
  position:absolute;
  left:0px;
  top:36px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u1170 {
  position:absolute;
  left:2px;
  top:2px;
  width:131px;
  word-wrap:break-word;
}
#u1171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1171 {
  position:absolute;
  left:0px;
  top:72px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u1172 {
  position:absolute;
  left:2px;
  top:2px;
  width:131px;
  word-wrap:break-word;
}
#u1173 {
  position:absolute;
  left:270px;
  top:34px;
  width:135px;
  height:108px;
  visibility:hidden;
}
#u1173_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:141px;
  height:114px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1174 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:113px;
}
#u1175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1175 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u1176 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1177 {
  position:absolute;
  left:0px;
  top:36px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u1178 {
  position:absolute;
  left:2px;
  top:2px;
  width:131px;
  word-wrap:break-word;
}
#u1179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1179 {
  position:absolute;
  left:0px;
  top:72px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u1180 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
