body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1284px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:167px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3772 {
  position:absolute;
  left:158px;
  top:113px;
  width:685px;
  height:167px;
}
#u3773 {
  position:absolute;
  left:2px;
  top:76px;
  width:681px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:right;
}
#u3774 {
  position:absolute;
  left:166px;
  top:119px;
  width:109px;
  height:24px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:right;
}
#u3775 {
  position:absolute;
  left:0px;
  top:4px;
  width:109px;
  word-wrap:break-word;
}
#u3776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:30px;
  background:inherit;
  background-color:rgba(85, 153, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u3776 {
  position:absolute;
  left:158px;
  top:83px;
  width:685px;
  height:30px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u3777 {
  position:absolute;
  left:2px;
  top:7px;
  width:681px;
  word-wrap:break-word;
}
#u3778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3778 {
  position:absolute;
  left:389px;
  top:221px;
  width:100px;
  height:30px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3779 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3780 {
  position:absolute;
  left:285px;
  top:118px;
  width:189px;
  height:25px;
}
#u3780_input {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:right;
}
#u3781 {
  position:absolute;
  left:474px;
  top:118px;
  width:90px;
  height:24px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:right;
}
#u3782 {
  position:absolute;
  left:0px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u3783 {
  position:absolute;
  left:574px;
  top:118px;
  width:75px;
  height:25px;
}
#u3783_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:right;
}
#u3784 {
  position:absolute;
  left:649px;
  top:118px;
  width:56px;
  height:24px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:right;
}
#u3785 {
  position:absolute;
  left:0px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u3786 {
  position:absolute;
  left:715px;
  top:118px;
  width:75px;
  height:25px;
}
#u3786_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:right;
}
#u3787 {
  position:absolute;
  left:166px;
  top:188px;
  width:109px;
  height:24px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:right;
}
#u3788 {
  position:absolute;
  left:0px;
  top:4px;
  width:109px;
  word-wrap:break-word;
}
#u3789 {
  position:absolute;
  left:285px;
  top:187px;
  width:505px;
  height:25px;
}
#u3789_input {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3790 {
  position:absolute;
  left:513px;
  top:221px;
  width:100px;
  height:30px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3791 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3792 {
  position:absolute;
  left:17px;
  top:290px;
  width:1272px;
  height:265px;
}
#u3793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:51px;
}
#u3793 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:51px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3794 {
  position:absolute;
  left:2px;
  top:18px;
  width:31px;
  word-wrap:break-word;
}
#u3795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:51px;
}
#u3795 {
  position:absolute;
  left:35px;
  top:0px;
  width:59px;
  height:51px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3796 {
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u3797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:51px;
}
#u3797 {
  position:absolute;
  left:94px;
  top:0px;
  width:223px;
  height:51px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3798 {
  position:absolute;
  left:2px;
  top:18px;
  width:219px;
  word-wrap:break-word;
}
#u3799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:51px;
}
#u3799 {
  position:absolute;
  left:317px;
  top:0px;
  width:318px;
  height:51px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3800 {
  position:absolute;
  left:2px;
  top:18px;
  width:314px;
  word-wrap:break-word;
}
#u3801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:51px;
}
#u3801 {
  position:absolute;
  left:635px;
  top:0px;
  width:50px;
  height:51px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3802 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u3803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:51px;
}
#u3803 {
  position:absolute;
  left:685px;
  top:0px;
  width:75px;
  height:51px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3804 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u3805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:51px;
}
#u3805 {
  position:absolute;
  left:760px;
  top:0px;
  width:75px;
  height:51px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3806 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u3807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:51px;
}
#u3807 {
  position:absolute;
  left:835px;
  top:0px;
  width:75px;
  height:51px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3808 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u3809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:51px;
}
#u3809 {
  position:absolute;
  left:910px;
  top:0px;
  width:75px;
  height:51px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3810 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u3811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:51px;
}
#u3811 {
  position:absolute;
  left:985px;
  top:0px;
  width:92px;
  height:51px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3812 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u3813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:51px;
}
#u3813 {
  position:absolute;
  left:1077px;
  top:0px;
  width:93px;
  height:51px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3814 {
  position:absolute;
  left:2px;
  top:18px;
  width:89px;
  word-wrap:break-word;
}
#u3815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:51px;
}
#u3815 {
  position:absolute;
  left:1170px;
  top:0px;
  width:97px;
  height:51px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3816 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  word-wrap:break-word;
}
#u3817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u3817 {
  position:absolute;
  left:0px;
  top:51px;
  width:35px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3818 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u3819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u3819 {
  position:absolute;
  left:35px;
  top:51px;
  width:59px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3820 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u3821 {
  position:absolute;
  left:94px;
  top:51px;
  width:223px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3822 {
  position:absolute;
  left:2px;
  top:8px;
  width:219px;
  word-wrap:break-word;
}
#u3823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:30px;
}
#u3823 {
  position:absolute;
  left:317px;
  top:51px;
  width:318px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3824 {
  position:absolute;
  left:2px;
  top:8px;
  width:314px;
  word-wrap:break-word;
}
#u3825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u3825 {
  position:absolute;
  left:635px;
  top:51px;
  width:50px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3826 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u3827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u3827 {
  position:absolute;
  left:685px;
  top:51px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3828 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u3829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u3829 {
  position:absolute;
  left:760px;
  top:51px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3830 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u3831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u3831 {
  position:absolute;
  left:835px;
  top:51px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3832 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u3833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u3833 {
  position:absolute;
  left:910px;
  top:51px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3834 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u3835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u3835 {
  position:absolute;
  left:985px;
  top:51px;
  width:92px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3836 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u3837 {
  position:absolute;
  left:1077px;
  top:51px;
  width:93px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3838 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u3839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u3839 {
  position:absolute;
  left:1170px;
  top:51px;
  width:97px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3840 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u3841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u3841 {
  position:absolute;
  left:0px;
  top:81px;
  width:35px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3842 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u3843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u3843 {
  position:absolute;
  left:35px;
  top:81px;
  width:59px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3844 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u3845 {
  position:absolute;
  left:94px;
  top:81px;
  width:223px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3846 {
  position:absolute;
  left:2px;
  top:8px;
  width:219px;
  word-wrap:break-word;
}
#u3847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:30px;
}
#u3847 {
  position:absolute;
  left:317px;
  top:81px;
  width:318px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3848 {
  position:absolute;
  left:2px;
  top:8px;
  width:314px;
  word-wrap:break-word;
}
#u3849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u3849 {
  position:absolute;
  left:635px;
  top:81px;
  width:50px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3850 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u3851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u3851 {
  position:absolute;
  left:685px;
  top:81px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3852 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u3853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u3853 {
  position:absolute;
  left:760px;
  top:81px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3854 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u3855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u3855 {
  position:absolute;
  left:835px;
  top:81px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3856 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u3857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u3857 {
  position:absolute;
  left:910px;
  top:81px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3858 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u3859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u3859 {
  position:absolute;
  left:985px;
  top:81px;
  width:92px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3860 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u3861 {
  position:absolute;
  left:1077px;
  top:81px;
  width:93px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3862 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u3863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u3863 {
  position:absolute;
  left:1170px;
  top:81px;
  width:97px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3864 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u3865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u3865 {
  position:absolute;
  left:0px;
  top:111px;
  width:35px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3866 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u3867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
}
#u3867 {
  position:absolute;
  left:35px;
  top:111px;
  width:59px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3868 {
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:35px;
}
#u3869 {
  position:absolute;
  left:94px;
  top:111px;
  width:223px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3870 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u3871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:35px;
}
#u3871 {
  position:absolute;
  left:317px;
  top:111px;
  width:318px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3872 {
  position:absolute;
  left:2px;
  top:2px;
  width:314px;
  word-wrap:break-word;
}
#u3873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u3873 {
  position:absolute;
  left:635px;
  top:111px;
  width:50px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3874 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u3875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
}
#u3875 {
  position:absolute;
  left:685px;
  top:111px;
  width:75px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3876 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
}
#u3877 {
  position:absolute;
  left:760px;
  top:111px;
  width:75px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3878 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u3879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
}
#u3879 {
  position:absolute;
  left:835px;
  top:111px;
  width:75px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3880 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
}
#u3881 {
  position:absolute;
  left:910px;
  top:111px;
  width:75px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3882 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:35px;
}
#u3883 {
  position:absolute;
  left:985px;
  top:111px;
  width:92px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3884 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:35px;
}
#u3885 {
  position:absolute;
  left:1077px;
  top:111px;
  width:93px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3886 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u3887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
}
#u3887 {
  position:absolute;
  left:1170px;
  top:111px;
  width:97px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3888 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u3889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:50px;
}
#u3889 {
  position:absolute;
  left:0px;
  top:146px;
  width:35px;
  height:50px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3890 {
  position:absolute;
  left:2px;
  top:18px;
  width:31px;
  word-wrap:break-word;
}
#u3891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:50px;
}
#u3891 {
  position:absolute;
  left:35px;
  top:146px;
  width:59px;
  height:50px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3892 {
  position:absolute;
  left:2px;
  top:17px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:50px;
}
#u3893 {
  position:absolute;
  left:94px;
  top:146px;
  width:223px;
  height:50px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3894 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u3895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:50px;
}
#u3895 {
  position:absolute;
  left:317px;
  top:146px;
  width:318px;
  height:50px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3896 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  word-wrap:break-word;
}
#u3897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u3897 {
  position:absolute;
  left:635px;
  top:146px;
  width:50px;
  height:50px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3898 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u3899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:50px;
}
#u3899 {
  position:absolute;
  left:685px;
  top:146px;
  width:75px;
  height:50px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3900 {
  position:absolute;
  left:2px;
  top:17px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:50px;
}
#u3901 {
  position:absolute;
  left:760px;
  top:146px;
  width:75px;
  height:50px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3902 {
  position:absolute;
  left:2px;
  top:18px;
  width:71px;
  word-wrap:break-word;
}
#u3903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:50px;
}
#u3903 {
  position:absolute;
  left:835px;
  top:146px;
  width:75px;
  height:50px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3904 {
  position:absolute;
  left:2px;
  top:17px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:50px;
}
#u3905 {
  position:absolute;
  left:910px;
  top:146px;
  width:75px;
  height:50px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3906 {
  position:absolute;
  left:2px;
  top:17px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:50px;
}
#u3907 {
  position:absolute;
  left:985px;
  top:146px;
  width:92px;
  height:50px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3908 {
  position:absolute;
  left:2px;
  top:17px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:50px;
}
#u3909 {
  position:absolute;
  left:1077px;
  top:146px;
  width:93px;
  height:50px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3910 {
  position:absolute;
  left:2px;
  top:18px;
  width:89px;
  word-wrap:break-word;
}
#u3911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u3911 {
  position:absolute;
  left:1170px;
  top:146px;
  width:97px;
  height:50px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3912 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  word-wrap:break-word;
}
#u3913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
}
#u3913 {
  position:absolute;
  left:0px;
  top:196px;
  width:35px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3914 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u3915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:34px;
}
#u3915 {
  position:absolute;
  left:35px;
  top:196px;
  width:59px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3916 {
  position:absolute;
  left:2px;
  top:9px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:34px;
}
#u3917 {
  position:absolute;
  left:94px;
  top:196px;
  width:223px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3918 {
  position:absolute;
  left:2px;
  top:10px;
  width:219px;
  word-wrap:break-word;
}
#u3919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:34px;
}
#u3919 {
  position:absolute;
  left:317px;
  top:196px;
  width:318px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3920 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  word-wrap:break-word;
}
#u3921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:34px;
}
#u3921 {
  position:absolute;
  left:635px;
  top:196px;
  width:50px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3922 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u3923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u3923 {
  position:absolute;
  left:685px;
  top:196px;
  width:75px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3924 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u3925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u3925 {
  position:absolute;
  left:760px;
  top:196px;
  width:75px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3926 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u3927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u3927 {
  position:absolute;
  left:835px;
  top:196px;
  width:75px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3928 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u3929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u3929 {
  position:absolute;
  left:910px;
  top:196px;
  width:75px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3930 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u3931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
}
#u3931 {
  position:absolute;
  left:985px;
  top:196px;
  width:92px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3932 {
  position:absolute;
  left:2px;
  top:9px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
}
#u3933 {
  position:absolute;
  left:1077px;
  top:196px;
  width:93px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3934 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u3935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:34px;
}
#u3935 {
  position:absolute;
  left:1170px;
  top:196px;
  width:97px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3936 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u3937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u3937 {
  position:absolute;
  left:0px;
  top:230px;
  width:35px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3938 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u3939 {
  position:absolute;
  left:35px;
  top:230px;
  width:59px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3940 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u3941 {
  position:absolute;
  left:94px;
  top:230px;
  width:223px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3942 {
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:30px;
}
#u3943 {
  position:absolute;
  left:317px;
  top:230px;
  width:318px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3944 {
  position:absolute;
  left:2px;
  top:7px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u3945 {
  position:absolute;
  left:635px;
  top:230px;
  width:50px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3946 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u3947 {
  position:absolute;
  left:685px;
  top:230px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3948 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u3949 {
  position:absolute;
  left:760px;
  top:230px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u3950 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u3951 {
  position:absolute;
  left:835px;
  top:230px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3952 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u3953 {
  position:absolute;
  left:910px;
  top:230px;
  width:75px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3954 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u3955 {
  position:absolute;
  left:985px;
  top:230px;
  width:92px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3956 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u3957 {
  position:absolute;
  left:1077px;
  top:230px;
  width:93px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3958 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u3959 {
  position:absolute;
  left:1170px;
  top:230px;
  width:97px;
  height:30px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3960 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000066;
}
#u3961 {
  position:absolute;
  left:10px;
  top:11px;
  width:730px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000066;
}
#u3962 {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  white-space:nowrap;
}
#u3963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Italic', 'Times New Roman Regular', 'Times New Roman';
  font-weight:400;
  font-style:italic;
  font-size:18px;
  color:#0099FF;
  text-align:left;
}
#u3963 {
  position:absolute;
  left:750px;
  top:0px;
  width:317px;
  height:41px;
  font-family:'Times New Roman Italic', 'Times New Roman Regular', 'Times New Roman';
  font-weight:400;
  font-style:italic;
  font-size:18px;
  color:#0099FF;
  text-align:left;
}
#u3964 {
  position:absolute;
  left:2px;
  top:10px;
  width:313px;
  word-wrap:break-word;
}
#u3965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:right;
}
#u3965 {
  position:absolute;
  left:166px;
  top:153px;
  width:109px;
  height:24px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:right;
}
#u3966 {
  position:absolute;
  left:0px;
  top:4px;
  width:109px;
  word-wrap:break-word;
}
#u3967 {
  position:absolute;
  left:285px;
  top:152px;
  width:505px;
  height:25px;
}
#u3967_input {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u3968 {
  position:absolute;
  left:853px;
  top:58px;
  width:407px;
  height:214px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u3969 {
  position:absolute;
  left:2px;
  top:2px;
  width:403px;
  word-wrap:break-word;
}
#u3970 {
  position:absolute;
  left:17px;
  top:41px;
  width:675px;
  height:34px;
}
#u3970_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:681px;
  height:40px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3971 {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:39px;
}
#u3972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u3972 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
  color:#FFFFFF;
}
#u3973 {
  position:absolute;
  left:2px;
  top:9px;
  width:131px;
  word-wrap:break-word;
}
#u3974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u3974 {
  position:absolute;
  left:135px;
  top:0px;
  width:135px;
  height:34px;
  color:#FFFFFF;
}
#u3975 {
  position:absolute;
  left:2px;
  top:9px;
  width:131px;
  word-wrap:break-word;
}
#u3976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u3976 {
  position:absolute;
  left:270px;
  top:0px;
  width:135px;
  height:34px;
  color:#FFFFFF;
}
#u3977 {
  position:absolute;
  left:2px;
  top:9px;
  width:131px;
  word-wrap:break-word;
}
#u3978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u3978 {
  position:absolute;
  left:405px;
  top:0px;
  width:135px;
  height:34px;
  color:#FFFFFF;
}
#u3979 {
  position:absolute;
  left:2px;
  top:9px;
  width:131px;
  word-wrap:break-word;
}
#u3980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u3980 {
  position:absolute;
  left:540px;
  top:0px;
  width:135px;
  height:34px;
  color:#FFFFFF;
}
#u3981 {
  position:absolute;
  left:2px;
  top:9px;
  width:131px;
  word-wrap:break-word;
}
#u3982 {
  position:absolute;
  left:135px;
  top:34px;
  width:135px;
  height:180px;
  visibility:hidden;
}
#u3982_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:141px;
  height:186px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3983 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:185px;
}
#u3984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u3984 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u3985 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u3986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u3986 {
  position:absolute;
  left:0px;
  top:36px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u3987 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u3988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u3988 {
  position:absolute;
  left:0px;
  top:72px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u3989 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u3990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u3990 {
  position:absolute;
  left:0px;
  top:108px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u3991 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u3992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u3992 {
  position:absolute;
  left:0px;
  top:144px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u3993 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u3994 {
  position:absolute;
  left:540px;
  top:34px;
  width:135px;
  height:180px;
  visibility:hidden;
}
#u3994_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:141px;
  height:186px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3995 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:185px;
}
#u3996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u3996 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u3997 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u3998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u3998 {
  position:absolute;
  left:0px;
  top:36px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u3999 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u4000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u4000 {
  position:absolute;
  left:0px;
  top:72px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u4001 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u4002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u4002 {
  position:absolute;
  left:0px;
  top:108px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u4003 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u4004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u4004 {
  position:absolute;
  left:0px;
  top:144px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u4005 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u4006 {
  position:absolute;
  left:405px;
  top:34px;
  width:135px;
  height:108px;
  visibility:hidden;
}
#u4006_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:141px;
  height:114px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4007 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:113px;
}
#u4008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u4008 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u4009 {
  position:absolute;
  left:2px;
  top:2px;
  width:131px;
  word-wrap:break-word;
}
#u4010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u4010 {
  position:absolute;
  left:0px;
  top:36px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u4011 {
  position:absolute;
  left:2px;
  top:2px;
  width:131px;
  word-wrap:break-word;
}
#u4012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u4012 {
  position:absolute;
  left:0px;
  top:72px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u4013 {
  position:absolute;
  left:2px;
  top:2px;
  width:131px;
  word-wrap:break-word;
}
#u4014 {
  position:absolute;
  left:270px;
  top:34px;
  width:135px;
  height:108px;
  visibility:hidden;
}
#u4014_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:141px;
  height:114px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4015 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:113px;
}
#u4016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u4016 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u4017 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u4018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u4018 {
  position:absolute;
  left:0px;
  top:36px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u4019 {
  position:absolute;
  left:2px;
  top:2px;
  width:131px;
  word-wrap:break-word;
}
#u4020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u4020 {
  position:absolute;
  left:0px;
  top:72px;
  width:135px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u4021 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
