body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1144px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:52px;
}
#u74 {
  position:absolute;
  left:395px;
  top:253px;
  width:317px;
  height:52px;
}
#u75 {
  position:absolute;
  left:2px;
  top:18px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:391px;
  top:315px;
  width:317px;
  height:40px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:40px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:52px;
}
#u77 {
  position:absolute;
  left:395px;
  top:367px;
  width:317px;
  height:52px;
}
#u78 {
  position:absolute;
  left:2px;
  top:18px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:390px;
  top:429px;
  width:317px;
  height:40px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:40px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:57px;
}
#u80 {
  position:absolute;
  left:392px;
  top:482px;
  width:150px;
  height:57px;
}
#u81 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
}
#u82 {
  position:absolute;
  left:552px;
  top:482px;
  width:157px;
  height:57px;
}
#u83 {
  position:absolute;
  left:2px;
  top:20px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Italic', 'Times New Roman Regular', 'Times New Roman';
  font-weight:400;
  font-style:italic;
  font-size:18px;
  color:#0099FF;
  text-align:left;
}
#u84 {
  position:absolute;
  left:393px;
  top:559px;
  width:317px;
  height:63px;
  font-family:'Times New Roman Italic', 'Times New Roman Regular', 'Times New Roman';
  font-weight:400;
  font-style:italic;
  font-size:18px;
  color:#0099FF;
  text-align:left;
}
#u85 {
  position:absolute;
  left:2px;
  top:21px;
  width:313px;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u86 {
  position:absolute;
  left:0px;
  top:76px;
  width:1144px;
  height:122px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u87 {
  position:absolute;
  left:2px;
  top:40px;
  width:1140px;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u88 {
  position:absolute;
  left:0px;
  top:681px;
  width:1144px;
  height:122px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u89 {
  position:absolute;
  left:2px;
  top:40px;
  width:1140px;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000066;
}
#u90 {
  position:absolute;
  left:10px;
  top:11px;
  width:730px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000066;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  white-space:nowrap;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Italic', 'Times New Roman Regular', 'Times New Roman';
  font-weight:400;
  font-style:italic;
  font-size:18px;
  color:#0099FF;
  text-align:left;
}
#u92 {
  position:absolute;
  left:827px;
  top:0px;
  width:317px;
  height:41px;
  font-family:'Times New Roman Italic', 'Times New Roman Regular', 'Times New Roman';
  font-weight:400;
  font-style:italic;
  font-size:18px;
  color:#0099FF;
  text-align:left;
}
#u93 {
  position:absolute;
  left:2px;
  top:10px;
  width:313px;
  word-wrap:break-word;
}
